In [1]:
import pandas as pd
import sys
sys.path.append('../')
from datasets.crsp_data import CRSP
from datasets.compustat import COMPUSTAT as CSTAT

### Use synthetic control and diff in diff and interrupted time series
For synthetic control:
- Create a counterfactual company based on observables

For diff in diff:
- Identify a single pair company

For interrupted TS:
- Compute change in excess return

Question: Excess returns or change in absolute returns?

In [13]:
ceo_deaths = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-04-27/departures.csv')
ceo_deaths = ceo_deaths[ceo_deaths['departure_code'] == 1]
ceo_deaths.dropna(how='any', inplace=True, axis=1)
ceo_deaths = ceo_deaths[['gvkey', 'fyear', 'exec_fullname', 'sources']]
ceo_deaths.head()

,gvkey,fyear,exec_fullname,sources
169,3144,1997,Roberto C. Goizueta,https://www.washingtonpost.com/archive/local/1...
218,3734,2003,Joseph M. Magliochetti,https://www.toledoblade.com/frontpage/2003/09/...
316,5151,1995,Israel Cohen,https://www.baltimoresun.com/news/bs-xpm-1995-...
440,7154,2003,James R. Cantalupo,https://money.cnn.com/2004/04/19/news/fortune5...
525,8151,2000,Larry W. Brummett,https://newsok.com/article/2709352/chief-execu...

In [3]:
crsp = CRSP()
crsp.df.head()

LOADING CLEAN FILE

,permno,date,cusip,shrcd,exchcd,ticker,shrout,vol,prc,ret
0,10000,1986-02-28,68391610,10.0,3.0,OMFGA,3680.0,828.0,3.25000,-0.257143
1,10000,1986-03-31,68391610,10.0,3.0,OMFGA,3680.0,1078.0,4.43750,0.365385
2,10000,1986-04-30,68391610,10.0,3.0,OMFGA,3793.0,957.0,4.00000,-0.098592
3,10000,1986-05-30,68391610,10.0,3.0,OMFGA,3793.0,1074.0,3.10938,-0.222656
4,10000,1986-06-30,68391610,10.0,3.0,OMFGA,3793.0,1069.0,3.09375,-0.005025

In [4]:
cstat = CSTAT()
cstat.df.head()

LOADING CLEAN FILE

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1000,1966-03-31,1966,1.0,12,INDL,C,D,STD,AE.2,...,1.0,3089,325.0,978.0,None,None,0.0,None,1978-06-30,None
1,1000,1966-06-30,1966,2.0,12,INDL,C,D,STD,AE.2,...,1.0,3089,325.0,978.0,None,None,0.0,None,1978-06-30,None
2,1000,1966-09-30,1966,3.0,12,INDL,C,D,STD,AE.2,...,1.0,3089,325.0,978.0,None,None,0.0,None,1978-06-30,None
3,1000,1966-12-31,1966,4.0,12,INDL,C,D,STD,AE.2,...,1.0,3089,325.0,978.0,None,None,0.0,None,1978-06-30,None
4,1000,1967-03-31,1967,1.0,12,INDL,C,D,STD,AE.2,...,1.0,3089,325.0,978.0,None,None,0.0,None,1978-06-30,None

In [ ]:
ceo_deaths[]